h6{
    margin-left:4%;
}
.header{
    display:'flex';
    align-items:'center';
    justify-content:'center';
    border:'3px solid orange';
    
}
.App {
    font-family: sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
  }