body{
   
    overflow-x: hidden;
    backgroundColor:rgba(0,0,0,0.6);
}
.homeBg{
    padding:0;
    background-image: url("C:\Users\ARUN KUMAR\Desktop\project\schoolmanagementsystem\public\img.png"); 
    height:100vh;
    width: 100vw;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: .6;

  }